/* Timer */
#timer {
    background-color: var(--Preto-timer-background); 
    height:100px; 
    width: 50px; 
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center ;
    color: var(--Branco-padrao);
    border: 4px solid var(--Branco-padrao);
}

/* Texto de informações da tela */
#displayText {
    position: absolute; 
    align-items: center; 
    justify-content: center;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
    display: none;
    color: var(--Branco-padrao);
}